<div class="p-6 text-black">
 <div class="mb-6">

  <button
    routerLink="/dashboard"
    class="bg-gradient-to-r from-black to-[#081028] text-white px-6 py-3 rounded-2xl shadow-2xl border border-slate-900 font-bold flex items-center gap-2 transition-all duration-300 hover:scale-105">

            <span class="text-2xl">
            ←
         </span>

    <span>
      Dashboard
    </span>

  </button>

</div>
  <!-- TOP -->
  <div class="bg-gray-200 p-4 rounded-t-2xl flex justify-between items-center">

    <!-- BUSCADOR -->
    <div class="flex">

      <input
        type="text"
        [(ngModel)]="buscarTexto"
        placeholder="Buscar recolector..."
        class="p-3 w-80 border rounded-l-xl outline-none"
      >

      <button
        class="bg-white border px-4 rounded-r-xl"
      >

        🔍

      </button>

    </div>

    <!-- BOTÓN NUEVO -->
    <button
      (click)="mostrarFormulario = !mostrarFormulario"
      class="bg-white border px-5 py-2 rounded-xl shadow hover:bg-gray-100"
    >

      ➕ Nuevo Recolector

    </button>

  </div>

  <!-- FORMULARIO -->
  <div
    *ngIf="mostrarFormulario"
    class="bg-white p-6 border-x border-b shadow mb-4"
  >

    <h2 class="text-2xl font-bold mb-5">

      {{
        editando
        ? '✏️ Editar Recolector'
        : '👷 Nuevo Recolector'
      }}

    </h2>

    <div class="grid grid-cols-2 gap-4">

      <!-- NOMBRE -->
      <input
        [(ngModel)]="nuevo.nombre"
        placeholder="Nombre"
        class="p-3 border rounded-xl"
      >

      <!-- CÉDULA -->
      <input
        [(ngModel)]="nuevo.cedula"
        placeholder="Cédula"
        class="p-3 border rounded-xl"
      >

      <!-- TELÉFONO -->
      <input
        [(ngModel)]="nuevo.telefono"
        placeholder="Teléfono"
        class="p-3 border rounded-xl"
      >

      <!-- ZONA -->
      <select
        [(ngModel)]="nuevo.zonaTrabajo"
        class="p-3 border rounded-xl"
      >

        <option value="">
          Seleccione zona
        </option>

        <option value="Zona Norte">
          Zona Norte
        </option>

        <option value="Zona Sur">
          Zona Sur
        </option>

        <option value="Zona Oriente">
          Zona Oriente
        </option>

        <option value="Zona Occidente">
          Zona Occidente
        </option>

      </select>

      <!-- FOTO -->
      <div class="col-span-2">

        <input
          type="file"
          (change)="subirFoto($event)"
          class="w-full p-3 border rounded-xl"
        >

      </div>

    </div>

    <!-- BOTONES -->
    <div class="flex gap-3 mt-6">

      <!-- GUARDAR -->
      <button
        *ngIf="!editando"
        (click)="guardar()"
        class="bg-green-600 hover:bg-green-700 text-white px-6 py-3 rounded-xl"
      >

        Guardar

      </button>

      <!-- ACTUALIZAR -->
      <button
        *ngIf="editando"
        (click)="guardar()"
        class="bg-blue-600 hover:bg-blue-700 text-white px-6 py-3 rounded-xl"
      >

        Actualizar

      </button>

      <!-- CANCELAR -->
      <button
        (click)="reset()"
        class="bg-gray-500 hover:bg-gray-600 text-white px-6 py-3 rounded-xl"
      >

        Cancelar

      </button>

    </div>

  </div>

  <!-- TABLA -->
  <div class="bg-white rounded-b-2xl shadow overflow-auto">

    <table class="w-full">

      <!-- HEAD -->
      <thead class="bg-gray-100">

        <tr>

          <th class="p-4 text-left">ID</th>

          <th class="p-4 text-left">Recolector</th>

          <th class="p-4 text-left">Contacto</th>

          <th class="p-4 text-left">Zona</th>

          <th class="p-4 text-left">Acciones</th>

        </tr>

      </thead>

      <!-- BODY -->
      <tbody>

        <tr
          *ngFor="let r of recolectoresFiltrados()"
          class="border-b hover:bg-gray-50"
        >

          <!-- ID -->
          <td class="p-4">

            {{ r.idRecolector }}

          </td>

          <!-- RECOLECTOR -->
<td class="p-4">

  <div class="flex items-center gap-4">

    <img
      [src]="
        'http://localhost/scafi-angular/scafi-api/' + r.foto
      "
      class="w-14 h-14 rounded-full object-cover border-2 border-green-500"
    />

    <div>

      <div class="font-semibold text-gray-800">
        {{ r.nombre }}
      </div>

      <div class="text-gray-500 text-sm">
        CC: {{ r.cedula }}
      </div>

    </div>

  </div>

</td>

          <!-- CONTACTO -->
          <td class="p-4">

            📞 {{ r.telefono }}

          </td>

          <!-- ZONA -->
          <td class="p-4">

            <span class="bg-green-100 text-green-700 px-3 py-1 rounded-full text-sm">

              {{ r.zonaTrabajo }}

            </span>

          </td>

          <!-- ACCIONES -->
          <td class="p-4">

            <div class="flex gap-2">

              <!-- EDITAR -->
              <button
                (click)="editar(r)"
                class="bg-blue-500 hover:bg-blue-600 text-white px-3 py-2 rounded-lg"
              >

                ✏️

              </button>

              <!-- ELIMINAR -->
              <button
                (click)="eliminar(r.idRecolector)"
                class="bg-red-500 hover:bg-red-600 text-white px-3 py-2 rounded-lg"
              >

                🗑

              </button>

            </div>

          </td>

        </tr>

      </tbody>

    </table>

  </div>

</div>